* {
    margin: 0;
}
.judul-aboutdet{
    top: 83px;
    left: 10%;
    position: absolute;
    display: inline-block;
}
.judul-aboutdetIcon{
    margin-top: 88px;
    /* right: 15%;
    position: absolute; */
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.judul-aboutdetIcon:hover{
    text-decoration: none;
}

.judul-aboutdet h1{
    font-size: 70px;
    color: #FFCC33;
    font-weight: 700;
    font-family: 'Viga', sans-serif;
}

.IconLink {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #24275c;
    text-decoration: none;
}
.IconLink:hover {
    text-decoration: none;
    /* color:#FFCC33; */
    color:#FFCC33;
    /* font-size: 30px; */
}

.img-about-detail {
    /* position: fixed; */
    margin-top: 150px;
    text-align: center;

}