* {
    margin: 0;
}
.judul-aboutdet{
    top: 83px;
    left: 10%;
    position: fixed;
}

.judul-aboutdet h1{
    font-size: 60px;
    color: #FFCC33;
    font-weight: 700;
    font-family: 'Viga', sans-serif;
}

.judul-aboutdet h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #24275c;
}

.img-about-detail {
    /* position: fixed; */
    margin-top: 150px;
    text-align: center;

}