* {
    margin: 0;
}
.judul-aboutdet{
    top: 83px;
    left: 10%;
    position: absolute;
    display: inline-block;
}
.judul-aboutdetIcon{
    top: 88px;
    right: 15%;
    position: absolute;
    display: inline-block;
}

.judul-aboutdet h1{
    font-size: 70px;
    color: #FFCC33;
    font-weight: 700;
    font-family: 'Viga', sans-serif;
}

.judul-aboutdetIcon h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #24275c;
}

.img-about-detail {
    /* position: fixed; */
    margin-top: 150px;
    text-align: center;

}