* {
    margin: 0;
}
.judul-OW{
    top: 83px;
    left: 10%;
    position: absolute;
    display: inline-block;
}
.OWIcon{
    top: 77px;
    right: 20%;
    position: absolute;
    display: inline-block;
}

.judul-OW h1{
    font-size: 50px;
    color: #FFCC33;
    font-weight: 700;
    font-family: 'Viga', sans-serif;
}

.link-prod {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #24275c;
    text-decoration: none;
}

.link-prod:hover {
    text-decoration: none;
    color:#FFCC33;
}
