/* .container-fluid {
    background-image: url(../../images/aset1.png);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Viga&display=swap');
.sub-home h1{
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 220px;
    color:#FFCC33;
    font-family: 'Viga', sans-serif;
}

.sub-home h2{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:600px) and (min-width: 319px) {
    .sub-home h2 {
        font-size: 20px;
    }
    .sub-home h1 {
        font-size: 120px;
        display: flex;
        
    }
    .sub-home {
        margin-top: -230px;
    }


}

