  
  /* h3 {
    font-size: 5em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
  } */
/*   
  #section1 {
    color: rgb(0, 0, 0);
  } */
  
  /* .fp-section {
    text-align: center;
  } */

  .section1 {
    background-image: url(../images/aset1.png);
	  background-size: contain;
    background-repeat: no-repeat;
	  /* background-position: center; */

  }

  .section6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .leaflet-container{
    position: relative;
    height: 40vh;
    width: 40vw;
  }

  @media screen and (max-width: 460px) {
    .leaflet-container {
      height: 250px;
      width: 250px;
    }

    .section6 {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  @media screen and (max-width:767px) and (min-width: 461px) {
    .section6 {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    .leaflet-container {
      height: 250px;
      width: 250px;
    }
  }
  
  @media screen and (min-width:1024px) {
    .leaflet-container{
      position: relative;
      height: 50vh;
      width: 50vw;
    }
  }

  @media screen and (min-width:1201px) {
    .leaflet-container{
      position: absolute !important;
      left: 55%;
      top: 0;
      z-index: 999;
      height: 100%;
      width: 50%;
      margin-top: 2px;

    }
  }

  @media screen and (max-width:600px) and (min-width: 319px) {
    .section1  {
        background-image: url(../images/aset1.png);
        background-position: bottom;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

}

  .fp-sr-only{
    background: #24275C !important;
  }
  
  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }