/* #fullpage-wrapper {
  margin-top: -4%;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.section {
  height: 100vh;
}

.section6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}

.leaflet-container {
  position: relative;
  height: 40vh;
  width: 40vw;
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  .leaflet-container {
    width: 90%;
    height: 180px;
  }
}

@media screen and (max-width: 460px) {
  .section6 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }

  .leaflet-control-layers {
    display: none;
  }
}

@media screen and (max-width: 460px) and (min-width: 321px) {
  .leaflet-container {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 540px) and (max-height: 812px) {
  .leaflet-container {
    height: 250px;
    width: 75%;
  }
}

@media screen and (max-width: 769px) {
  .section6 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .leaflet-control-layers {
    display: none;
  }
}

@media screen and (max-width: 769px) and (min-width: 541px) {
  .leaflet-container {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .leaflet-container {
    position: relative;
    height: auto;
    width: 50vw;
  }
}

@media screen and (min-width: 1201px) {
  .leaflet-container {
    position: absolute !important;
    left: 55%;
    z-index: 999;
    height: 100%;
    width: 45%;
    margin-top: 2px;
  }
}

@media screen and (max-width: 600px) and (min-width: 319px) {
  .section1 {
    background-position: bottom;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.fp-sr-only {
  background: #24275c !important;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}
