@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
.sub-about h1 {
    font-size: 90px;
    color: #FFCC33;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    text-align: center;
    position: relative;
    align-items: center;
}

.sub-about p {
    text-align: justify;
    text-justify: auto;
    font-size: 15px;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

.isi {
    padding-top: 30px;
    margin-right: 30%;
    margin-left: 30%;
    
}

.btn-about {
    margin-right: 325px;
    background:#24275C;
    padding: 8px 23px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}
.btn-about:hover {
    background:#141970;
}

.line-about{
    padding-top: 10px;
    margin-left: -10000000px;
    display: flex;
}

.img-about  {
    text-align: center;
    align-items: center;
}


@media screen and (max-width:500px) and (min-width: 319px) {
    .line-about{
        margin-left: -10000000px;
        opacity: 0;
    }
    .sub-about h1 {
        font-size: 50px;
        
    }
    .isi p{
        font-size: 12px;
    }
    .btn-about {
        margin-top: 18px;
        margin-right: 25px;
    }
    .img-about2{
        width: 80%;
    }

}
@media screen and (max-width:768px) and (min-width: 501px) {
    
    .sub-about h1 {
        font-size: 60px;
        
    }
    .isi p{
        font-size: 13px;
    }
    
    .btn-about {
        margin-right: 45px;
    }
}
@media screen and (max-width:992px) and (min-width: 769px) {
    .sub-about h1 {
        font-size: 70px;
        
    }
    .btn-about {
        margin-right: 120px;
    }
    .isi {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 992px) and (min-width:0px){
    .isi {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1199px) and (min-width:993px){
    .isi {
        margin-right: 27%;
        margin-left: 27%;
    }
    .btn-about {
        margin-right: 250px;
    }
}




    

